# Case Técnico - H:Data // Matheus Tenório

## 1. Importação de Bibliotecas e Configurações

In [69]:
import pandas as pd

## 2. Leitura dos Dados

In [70]:
motivo_alta = pd.read_csv('../data/MOTIVO_ALTA.csv', encoding='latin1',  sep=';')
atendimento = pd.read_csv('../data/ATENDIMENTO.csv', encoding='latin1',  sep=';')
fila_senha = pd.read_csv('../data/FILA_SENHA.csv', encoding='latin1',  sep=';')
pessoa_fisica_medico = pd.read_csv('../data/PESSOA_FISICA_MEDICO.csv', encoding='latin1',  sep=';')
pessoa_fisica_pac = pd.read_csv('../data/PESSOA_FISICA_PAC.csv', encoding='latin1',  sep=';')

In [71]:
atendimento.head(5)

,NR_ATENDIMENTO,DT_ENTRADA,DT_INICIO_ATENDIMENTO,DT_ATEND_MEDICO,DT_ALTA,DT_FIM_TRIAGEM,NR_SEQ_TRIAGEM,DS_SENHA_QMATIC,DT_MEDICACAO,NR_SEQ_CLASSIFICACAO,CD_MOTIVO_ALTA,IE_TIPO_ATENDIMENTO,CD_PESSOA_FISICA,CD_MEDICO_RESP,NR_SEQ_PAC_SENHA_FILA,IE_CLINICA,DT_RECEBIMENTO_SENHA
0,188005,2023/06/22 14:19:51,2023/06/22 14:39:12,2023/06/22 15:36:45,2023/06/22 18:35:53,2023/06/22 14:43:31,4.0,A454,NaN,8.0,12.0,3,145682,190328,174442.0,1,2023/06/22 14:17:00
1,145507,2022/09/21 13:17:49,2022/09/21 13:33:58,2022/09/21 14:58:01,2022/09/21 16:32:10,2022/09/21 13:37:16,4.0,A535,NaN,17.0,12.0,3,180538,199685,154343.0,4,2022/09/16 07:11:50
2,160269,2022/12/26 12:04:21,2022/12/26 12:27:46,2022/12/26 12:59:42,2022/12/26 15:36:17,2022/12/26 12:28:54,4.0,AC2309,2022/12/26 13:11:00,17.0,12.0,3,182402,200759,145259.0,1,2022/08/15 12:24:10
3,162553,2023/01/13 19:45:36,2023/01/13 20:02:08,2023/01/13 20:24:17,2023/01/13 22:15:00,2023/01/13 20:03:56,4.0,AM1,2023/01/13 20:34:00,8.0,12.0,3,31781,124988,178494.0,1,2023/01/13 19:41:16
4,163006,2023/01/18 00:03:41,2023/01/18 00:10:53,2023/01/18 00:27:26,2023/01/18 03:17:16,2023/01/18 00:12:28,4.0,AM1,2023/01/18 00:34:00,8.0,12.0,3,211046,306,179101.0,1,2023/01/18 00:01:38

Etapas monitoradas:

1. Recebimento da senha
2. Entrada
3. Início do Atendimento
4. Fim da triagem
5. Atendimento Médico
6. Medicação (se necessário)
7. Alta

In [72]:
# Organizando dados de atendimento de acordo com a ordem entendida

fluxo_pacientes = atendimento[['DT_RECEBIMENTO_SENHA', 'DT_ENTRADA', 'DT_INICIO_ATENDIMENTO', 'DT_FIM_TRIAGEM', 'DT_ATEND_MEDICO', 'DT_MEDICACAO', 'DT_ALTA']]

display(fluxo_pacientes)

,DT_RECEBIMENTO_SENHA,DT_ENTRADA,DT_INICIO_ATENDIMENTO,DT_FIM_TRIAGEM,DT_ATEND_MEDICO,DT_MEDICACAO,DT_ALTA
0,2023/06/22 14:17:00,2023/06/22 14:19:51,2023/06/22 14:39:12,2023/06/22 14:43:31,2023/06/22 15:36:45,NaN,2023/06/22 18:35:53
1,2022/09/16 07:11:50,2022/09/21 13:17:49,2022/09/21 13:33:58,2022/09/21 13:37:16,2022/09/21 14:58:01,NaN,2022/09/21 16:32:10
2,2022/08/15 12:24:10,2022/12/26 12:04:21,2022/12/26 12:27:46,2022/12/26 12:28:54,2022/12/26 12:59:42,2022/12/26 13:11:00,2022/12/26 15:36:17
3,2023/01/13 19:41:16,2023/01/13 19:45:36,2023/01/13 20:02:08,2023/01/13 20:03:56,2023/01/13 20:24:17,2023/01/13 20:34:00,2023/01/13 22:15:00
4,2023/01/18 00:01:38,2023/01/18 00:03:41,2023/01/18 00:10:53,2023/01/18 00:12:28,2023/01/18 00:27:26,2023/01/18 00:34:00,2023/01/18 03:17:16
...,...,...,...,...,...,...,...
96730,NaN,2023/08/28 16:56:35,2023/08/28 17:00:45,2023/08/28 17:03:56,2023/08/28 17:26:21,NaN,2023/08/28 19:13:35
96731,NaN,2023/08/28 18:17:39,2023/08/28 18:21:18,2023/08/28 18:24:58,2023/08/28 18:30:33,2023/08/28 18:42:39,2023/08/28 22:52:04
96732,NaN,2023/08/28 18:23:18,2023/08/28 18:25:47,2023/08/28 18:28:14,2023/08/28 18:41:23,2023/08/28 18:51:30,2023/08/28 20:10:58
96733,NaN,2023/08/28 21:07:58,2023/08/28 21:11:14,2023/08/28 21:16:04,2023/08/28 21:27:48,2023/08/28 21:38:14,2023/08/29 05:51:03
96734,NaN,2023/08/29 07:05:37,2023/08/29 07:21:00,2023/08/29 07:22:43,2023/08/29 07:24:51,NaN,NaN

Desvios de métricas:

Data da medicação:
   - **Possível razão:** não foi necessário medicação.
    
Data Recebimento senha:
   - **Possível razão:** entrada pela emergência.
    
Data de Alta:
   - **Possível razão:** paciente não recebeu alta até a entrega dos dados
   - **Possível razão:** falecimento

In [73]:
display(pessoa_fisica_pac)

       CD_PESSOA_FISICA        DT_NASCIMENTO IE_SEXO
0                219948  2019/10/27 00:00:00       F
1                218998  2012/03/04 00:00:00       F
2                134116  1977/05/19 00:00:00       F
3                205561  2021/05/11 00:00:00       M
4                189368  2012/03/16 00:00:00       F
...                 ...                  ...     ...
37072            217430  2017/11/08 00:00:00       F
37073            209013  2013/09/18 00:00:00       F
37074            110327  1991/10/15 00:00:00       F
37075            217304  2016/01/18 00:00:00       F
37076              9884  1936/02/25 00:00:00       M

[37077 rows x 3 columns]

## 3. Montagem da tabela geral

In [74]:
# Criando as colunas na tabela geral // Atendimento

atendimento_columns = list(atendimento.columns).index('CD_PESSOA_FISICA')

atendimento.insert(atendimento_columns + 1, 'NM_PESSOA_PESQUISA', '')
atendimento.insert(atendimento_columns + 2, 'DT_NASCIMENTO', '')
atendimento.insert(atendimento_columns + 3, 'IE_SEXO', '')

In [75]:
# Loop for para preencher as colunas de acordo com a tabela pessoa_fisica_pac

for index, row in atendimento.iterrows():
    if row['CD_PESSOA_FISICA'] in pessoa_fisica_pac['CD_PESSOA_FISICA'].values:
        match = pessoa_fisica_pac[
            pessoa_fisica_pac['CD_PESSOA_FISICA'] == row['CD_PESSOA_FISICA']]

        dt_nascimento = match.iloc[0]['DT_NASCIMENTO']
        ie_sexo = match.iloc[0]['IE_SEXO']

        atendimento.at[index, 'DT_NASCIMENTO'] = dt_nascimento
        atendimento.at[index, 'IE_SEXO'] = ie_sexo

In [77]:
display(atendimento)

,NR_ATENDIMENTO,DT_ENTRADA,DT_INICIO_ATENDIMENTO,DT_ATEND_MEDICO,DT_ALTA,DT_FIM_TRIAGEM,NR_SEQ_TRIAGEM,DS_SENHA_QMATIC,DT_MEDICACAO,NR_SEQ_CLASSIFICACAO,CD_MOTIVO_ALTA,IE_TIPO_ATENDIMENTO,CD_PESSOA_FISICA,NM_PESSOA_PESQUISA,DT_NASCIMENTO,IE_SEXO,CD_MEDICO_RESP,NR_SEQ_PAC_SENHA_FILA,IE_CLINICA,DT_RECEBIMENTO_SENHA
0,188005,2023/06/22 14:19:51,2023/06/22 14:39:12,2023/06/22 15:36:45,2023/06/22 18:35:53,2023/06/22 14:43:31,4.0,A454,NaN,8.0,12.0,3,145682,,1948/02/14 00:00:00,F,190328,174442.0,1,2023/06/22 14:17:00
1,145507,2022/09/21 13:17:49,2022/09/21 13:33:58,2022/09/21 14:58:01,2022/09/21 16:32:10,2022/09/21 13:37:16,4.0,A535,NaN,17.0,12.0,3,180538,,2017/12/06 00:00:00,F,199685,154343.0,4,2022/09/16 07:11:50
2,160269,2022/12/26 12:04:21,2022/12/26 12:27:46,2022/12/26 12:59:42,2022/12/26 15:36:17,2022/12/26 12:28:54,4.0,AC2309,2022/12/26 13:11:00,17.0,12.0,3,182402,,1962/02/26 00:00:00,M,200759,145259.0,1,2022/08/15 12:24:10
3,162553,2023/01/13 19:45:36,2023/01/13 20:02:08,2023/01/13 20:24:17,2023/01/13 22:15:00,2023/01/13 20:03:56,4.0,AM1,2023/01/13 20:34:00,8.0,12.0,3,31781,,2005/06/23 00:00:00,F,124988,178494.0,1,2023/01/13 19:41:16
4,163006,2023/01/18 00:03:41,2023/01/18 00:10:53,2023/01/18 00:27:26,2023/01/18 03:17:16,2023/01/18 00:12:28,4.0,AM1,2023/01/18 00:34:00,8.0,12.0,3,211046,,1974/08/09 00:00:00,M,306,179101.0,1,2023/01/18 00:01:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96730,197640,2023/08/28 16:56:35,2023/08/28 17:00:45,2023/08/28 17:26:21,2023/08/28 19:13:35,2023/08/28 17:03:56,4.0,NaN,NaN,8.0,12.0,3,85770,,2009/01/31 00:00:00,F,205397,NaN,1,NaN
96731,197652,2023/08/28 18:17:39,2023/08/28 18:21:18,2023/08/28 18:30:33,2023/08/28 22:52:04,2023/08/28 18:24:58,4.0,NaN,2023/08/28 18:42:39,8.0,12.0,3,107623,,1985/01/05 00:00:00,M,124988,NaN,1,NaN
96732,197653,2023/08/28 18:23:18,2023/08/28 18:25:47,2023/08/28 18:41:23,2023/08/28 20:10:58,2023/08/28 18:28:14,4.0,NaN,2023/08/28 18:51:30,8.0,12.0,3,134945,,2007/07/13 00:00:00,F,205397,NaN,1,NaN
96733,197678,2023/08/28 21:07:58,2023/08/28 21:11:14,2023/08/28 21:27:48,2023/08/29 05:51:03,2023/08/28 21:16:04,4.0,NaN,2023/08/28 21:38:14,8.0,12.0,3,200133,,2003/02/19 00:00:00,F,124988,NaN,1,NaN
96734,197692,2023/08/29 07:05:37,2023/08/29 07:21:00,2023/08/29 07:24:51,NaN,2023/08/29 07:22:43,4.0,NaN,NaN,8.0,NaN,3,199641,,1950/06/28 00:00:00,M,218312,NaN,1,NaN